.home-contents {
  margin-top: 50px;
}

.district-table {
  margin-bottom: 100px;
}

.district-column {
  text-align: center;
}

.district-image {
  height: 120px;
  width: auto;
}

.district-paragraph {
  margin-bottom: 30px;
}

.district-table-horizon {
  margin: 50px auto;
}

.district-button {
  vertical-align: bottom;
}

@media screen and (max-width: 768px) {
  .home-contents {
    margin-top: 185px;
  }
}
