.home-contents {
  margin-top: 50px;
}

.district-table {
  margin-bottom: 100px;
}

.rounded-circle {
  height: 140px;
  width: 140px;
}

@media screen and (max-width: 768px) {
  .home-contents {
    margin-top: 185px;
  }
}
