#site-title {
  margin-bottom: 0;
  padding-top: 5px;
}

#site-title a::before {
  content: "";
  background: url("../image/redIcon/onsenIconRed.svg") no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-size: contain;
  vertical-align: middle;
}

#site-title a {
  color: #555;
  text-decoration: none;
}

#site-title:hover {
  text-decoration: none;
}

#mapFilterButton {
  position: absolute;
  top: 12%;
  left: 1%;
  float: left;
  z-index: 1;
  width: 92.78px;
}

#home-contents {
  margin-top: 50px;
}

#district-table {
  margin-bottom: 100px;
}

.district-column {
  text-align: center;
}

.district-image {
  height: 120px;
  width: auto;
}

.district-paragraph {
  margin-bottom: 30px;
}

.district-table-horizon {
  margin: 50px auto;
}

.district-button {
  vertical-align: bottom;
}

@media screen and (max-width: 768px) {
  #home-contents {
    margin-top: 185px;
  }
  
  #mapFilterButton {
    position: absolute;
    top: 0;
    margin-top: 230px;
    left: 10px;
    float: left;
    z-index: 1;
    width: 92.78px;
  }
}
